.gradle
.vscode
.git
app/build
app/bin
app/libs
scoreboard/bin
scoreboard/build
common/bin
common/build
build
lb_data
out_heads
output
snapshots
player_request.json
interview.png
runtime_data.json
seed_order.json
spectate_match.json
download.json
websocket_log.txt
obs_layout.json
MATCH_IDS.txt
heads
skins
newlb_1
newlb_2
newlb_3
newlb_4
newlb_5
newlb_6
gen_image