{
	"format": 2,	
	"scenes": {
		"intermissionScene": "INTERMISSION",
		"commentatorScene": "COMMENTATORS",
		"completionScene": "COMPLETIONS",
		"leaderboardScene": "LEADERBOARD",
		"averageLbScene": "AVERAGES",
		"nextseedScene": "NEXT SEED",
		"seedlistScene": "SEED ORDER",
		"spectatorScene": "SPECTATOR POV",
		"gameplayScenes": {
			"gameplay1": "MAIN 1",
			"gameplay2": "MAIN 2",
			"gameplay3": "MAIN 3",
			"gameplay4": "MAIN 4"
		},
		"abIds": {
			"p1": {"a": 17, "b": 27},
			"p2": {"a": 21, "b": 28},
			"p3": {"a": 22, "b": 29},
			"p4": {"a": 20, "b": 30}
		},
		"interviewScene": "INTERVIEW"
	},
	"audio": {
		"mic": "Mic/Aux",
		"micEnabled": true,
		"disc": "Commentators",
		"discEnabled": true
	},
	"paths": {
		"heads": "/home/me/MCRL Streaming/streamtool/heads/",
		"seed_icons": "/home/me/MCRL Streaming/StreamAssets/Assets/seedtype-icons/",
		"seed_images": "/home/me/MCRL Streaming/StreamAssets/Assets/seed_background/",
		"gen_images": "/home/me/MCRL Streaming/streamtool/gen_images/"
	},
	"portRange": 7000,
	"switchDelay": 5000
}
